@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Classes */

@layer base {
  @font-face {
    font-family: 'pretendard-black';
    src: url('./assets/pretendard/Pretendard-Black.woff');
  }

  @font-face {
    font-family: 'pretendard-bold';
    src: url('./assets/pretendard/Pretendard-Bold.woff');
  }

  @font-face {
    font-family: 'pretendard-extrabold';
    src: url('./assets/pretendard/Pretendard-ExtraBold.woff');
  }

  @font-face {
    font-family: 'pretendard-extralight';
    src: url('./assets/pretendard/Pretendard-ExtraLight.woff');
  }

  @font-face {
    font-family: 'pretendard-light';
    src: url('./assets/pretendard/Pretendard-Light.woff');
  }

  @font-face {
    font-family: 'pretendard-medium';
    src: url('./assets/pretendard/Pretendard-Medium.woff');
  }

  @font-face {
    font-family: 'pretendard-regular';
    src: url('./assets/pretendard/Pretendard-Regular.woff');
  }

  @font-face {
    font-family: 'pretendard-semibold';
    src: url('./assets/pretendard/Pretendard-SemiBold.woff');
  }

  @font-face {
    font-family: 'pretendard-thin';
    src: url('./assets/pretendard/Pretendard-Thin.woff');
  }

  .font-normal {
    @apply font-[pretendard-regular];
  }

  * {
    @apply m-0 p-0 font-normal outline-none;
  }

  ul,
  li,
  ol {
    @apply list-none;
  }

  a {
    @apply no-underline hover:no-underline;
  }

  img {
    @apply align-middle;
  }

  body {
    @apply bg-white font-normal;
  }
}

/*
* Component based design
* Will be compiled if used
*/

@layer components {
}

